<html>
<head>
    <title>$i18n.getText("bjdp.admin.title")</title>
    <meta name="decorator" content="atl.admin">
</head>
<body class="page-type-admin">
    <h2>$i18n.getText("bjdp.admin.title")</h2>

    <div id="configuration-info" class="aui-message aui-message-info">
        <p><b>$i18n.getText("bjdp.admin.info.heading")</b></p>
        <p>$i18n.getText("bjdp.admin.info.detail")</p>
    </div>

    <form action="$req.contextPath/secure/admin/PullRequestAdmin!save.jspa" method="post" class="aui long-label unsectioned">
        <input type="hidden" name="atl_token" value="$atl_token"/>
        <div class="field-group">
            <label for="notificationsEnabled">$i18n.getText("bjdp.admin.notifications.label")</label>
            <input type="checkbox" name="notificationsEnabled" id="notificationsEnabled" style="vertical-align: middle;" value="true" #if($action.areNotificationsEnabled()) checked="checked" #end/>
            <span title="$i18n.getText('bjdp.admin.notifications.help')" class="aui-icon aui-icon-small aui-iconfont-help icon-default"></span><span class="content">$i18n.getText("bjdp.admin.help")</span>
        </div>
        <br/>
        <div class="field-group">
            <label for="apiUser">$i18n.getText("bjdp.admin.apiuser.label")</label>
            <input type="text" name="apiUser" id="apiUser" value="$!action.getApiUser()" />
            <span title="$i18n.getText('bjdp.admin.apiuser.help')" class="aui-icon aui-icon-small aui-iconfont-help icon-default"></span><span class="content">$i18n.getText("bjdp.admin.help")</span>
        </div>
        <br/>
        <div class="field-group">
            <input type="submit" class="aui-button aui-button-primary" value="$i18n.getText('bjdp.admin.save')"/>
        </div>
    </form>
</body>
</html>
