#set($notificationPreference = "true")
#if($codeNotifications)
    #set($notificationPreference = "false")
#end

<div id="notifications-profile-fragment" class="module">
    <form action="$pluginUrl" method="post" id="notificationsForm">
        <input type="hidden" name="atl_token" value="$atlToken"/>
        <input type="hidden" name="codeNotifications" id="codeNotifications" value="$notificationPreference"/>
        <div class="mod-header">
            <h3>$i18n.getText("bjdp.profile.header")</h3>
        </div>
        <br/>
        <div class="mod-content">
            <div class="item-details">
                <dl>
                    <dt style="vertical-align: baseline;">$i18n.getText("bjdp.profile.code")</dt>
                    <dd>
                        ## A real submit button (not a JS-driven anchor) so the toggle works without JavaScript.
                        <button type="submit" class="aui-button aui-button-link" id="toggleNotificationsLink">
                            #if($codeNotifications)$i18n.getText("bjdp.profile.disable")#else$i18n.getText("bjdp.profile.enable")#end
                        </button>
                    </dd>
                </dl>
            </div>
        </div>
    </form>
</div>
