#if ($pullRequests)
    <table class="aui aui-table-list">
        <tbody>
            #foreach ($pullRequest in $pullRequests)
                <tr>
                    <td headers="pr">#if ($pullRequest.url)<a href="$pullRequest.url" target="_blank" rel="noopener noreferrer">$pullRequest.name</a>#else$pullRequest.name#end</td>
                    <td headers="repo">#if ($pullRequest.repoUrl)<a href="$pullRequest.repoUrl" target="_blank" rel="noopener noreferrer">$pullRequest.repoName</a>#else$pullRequest.repoName#end</td>
                    <td headers="branch">$pullRequest.branchName</td>
                    <td headers="status">$pullRequest.status</td>
                </tr>
            #end
        </tbody>
    </table>
#else
    <p>There are no pull requests.</p>
#end
